spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]': # Autorise toutes les routes
            allowedOrigins: "*" # Origine de votre frontend Angular
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders:
              - "*"
            allowCredentials: true

