<nav class="p-3">
  <ul class="nav nav-pills">
   <li>
      <button routerLink="" class="btn btn-outline-success ms-1">Home
        <i class="bi bi-house text-success"></i>
      </button>
    </li>
    <li>
      <button routerLink="/product" class="btn btn-outline-success ms-1">Products
        <i class="bi bi-arrow-down-up text-success"></i>
      </button>
    </li>
    <li>
      <button routerLink="/ajouter-produit" class="btn btn-outline-success ms-1">New Products
        <i class="bi bi-plus-circle text-success"></i>
      </button>
    </li>
  </ul>
</nav>

<router-outlet>

</router-outlet>
